services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: hr_system
  redis:
    image: redis:7
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
  worker:
    build: .
    command: celery -A config worker --loglevel=info -P solo
    depends_on:
      - redis